In [416]:
import pandas as pd

In [417]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"

In [418]:
df = pd.read_csv(url)

In [419]:
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [420]:
print(df.isna().sum())

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [421]:
rows, columns = df.shape

In [422]:
print(f"The dataset contains {rows} rows and {columns} columns.")

The dataset contains 391 rows and 11 columns.

In [423]:
print("Summary statistics for numeric columns:")

Summary statistics for numeric columns:

In [424]:
print(df.describe())

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [425]:
print("\nValue counts for the 'personality' column:")

Value counts for the 'personality' column:

In [426]:
print(df['personality'].value_counts())

personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

In [427]:
4.

# The dfshape function represents all rows and columuns even no matter if they are numeric or non numeric.
# df.describe only analyzis the numeric columns,
# thus it left out the non numeric ones leading to the miss match of the size of the dataset vs the size reported

# The dfshape function represents all the observations of all data, including the ones missing values
# dfdescribe on the other hand only represents the non missing values,
# Thus it leads to the miss match of dfshape data vs the dfdescribe data

4.0

In [428]:
5.

# An attribute is a way to give an attribute or a characteristic to an object while performing object oriented programming.
# This is used to better describe data or an object for you intended purposes.

5.0

In [429]:
5.

# A method is usally a function that is apart of a class and its attributes.
# It performs an action that requires an argument to be passed thus requiring the arguemnt to be placed between the brackets ()

5.0

In [430]:
6. 

# Count: How many data points are present.
# Mean: The average of the data.
# Standard Deviation: The spread of data around the mean.
# Min: The smallest data point.
# 25% (Q1): The value below which 25% of the data lies (lower quartile).
# 50% (Median): The middle value of the data.
# 75% (Q3): The value below which 75% of the data lies (upper quartile).
# Max: The largest data point.

6.0

In [431]:
# 7.1 You would not want to use deldf['col'] because it will delete the entire column, so if there is a column where some values
# are missing data but not all, you would not want to delet the whol column,

# Thus you would use dfdropna which ensure to only get rid of or "drop" the ones that are empty, thus if some areas have data
# and some dont, you can filter out the empty ones and keep all the data

# an example would be if you were conduction a survery and there was a certain question line that half of the people skipped or
# chose not to answer, you would use dropna to get rid of all the empty data to get all filtered responses

In [432]:
# 7.2 vice versa if you wanted to get rid of a whole column and not just the empty data, you would use deldf instead of dropna

# example if you wanted to delete a certain property that shows for all books on amazon, ex. size, you could just delete all the
# data instead of doing dropna and getting rid of only the books with no size data given.

In [433]:
# 7.3 you should use  deldf first before dfdropna in certain scneriows where you dont wana end up getting rid of too much data.
# you can use deldf to delete the columns with high amounts of missing data and then run dfdropna to filter out through the rest
# of the data and pick up the smaller amounts of missing data left. This will ensure that you dont get rid of too much data to the
# point where you might not have enough to conduct your research/analysis.

In [434]:
print("Missing values by column:")
print(df.isna().sum())

Missing values by column:
row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [435]:
if 'song' in df.columns:
    del df['song']

In [436]:
print("\nMissing values after removing 'style_2':")
print(df.isna().sum())

Missing values after removing 'style_2':
row_n          0
id             1
name           0
gender         0
species        0
birthday       0
personality    0
phrase         0
full_id        0
url            0
dtype: int64

In [437]:
df_cleaned = df.dropna()

In [438]:
print("\nShape before cleaning:", df.shape)
print("Shape after cleaning:", df_cleaned.shape)

Shape before cleaning: (391, 10)
Shape after cleaning: (390, 10)

In [439]:
print("\nMissing values after dropping rows with missing data:")
print(df_cleaned.isna().sum())

Missing values after dropping rows with missing data:
row_n          0
id             0
name           0
gender         0
species        0
birthday       0
personality    0
phrase         0
full_id        0
url            0
dtype: int64

In [440]:
# Since i printed out all my data and figured out where the sections that had missing data are, I removed the coloumn named "song"
# because it had 11/12 of the missing data and then I did dropna so I can remove the final missing data piece in "id"

In [441]:
#  link to my 1-7 questions chatbot logs https://chatgpt.com/share/66e64b71-82c8-8000-a283-19a310ba70dc

In [442]:

# 1. **Initial Dataset Exploration**:
#    - You started by loading a dataset from a URL using pandas (`villagers.csv` from the TidyTuesday project).
#    - The dataset had missing values, and you explored these using `df.isna().sum()`.
#    - You asked for assistance on how to determine the number of rows and columns in the dataset using `df.shape` and to print out those values. We also discussed the differences between "observations" (rows) and "variables" (columns).

# 2. **Exploring Data Summaries**:
#    - You learned how to provide simple summaries for each column using `df.describe()` and explored column-specific summaries using `df['column'].value_counts()` for non-numeric columns. 
#    - We noted the difference between numeric and non-numeric variables in terms of how `df.describe()` and `value_counts()` behave.

# 3. **Discrepancies Between Dataset Size and df.describe()**:
#    - We discussed how `df.shape` gives the full dataset size, while `df.describe()` only summarizes numeric columns and excludes non-numeric variables.
#    - The “count” column in `df.describe()` reflects how many non-missing values each numeric column has, and missing data in numeric columns can result in lower counts compared to the total number of rows.

# 4. **Attributes vs. Methods**:
#    - We explored the difference between an attribute like `df.shape` (which doesn't require parentheses) and a method like `df.describe()` (which is a function that requires parentheses). The analogy between functions in programming and functions in mathematics was briefly touched upon.

# 5. **Definitions of Summary Statistics**:
#    - We defined each of the summary statistics provided by `df.describe()` in a simplified one-sentence format: `count`, `mean`, `std`, `min`, `25%`, `50%`, `75%`, and `max`.

# 6. **Handling Missing Data**:
#    - We explored different ways to handle missing data:
#      - **`df.dropna()`** removes rows with missing values.
#      - **`del df['col']`** removes a column entirely, which can be preferred when a column has too many missing values.
#    - We discussed use cases for both methods, such as when you would prefer to drop rows versus when you might want to remove columns entirely.
#    - We also explained why applying `del df['col']` before `df.dropna()` can be important when cleaning up a dataset.

# 7. **Practical Example of Handling Missing Data**:
#    - You wanted to apply a practical example to your specific dataset. We demonstrated how to:
#      - Identify columns with a high percentage of missing values (such as `style_2` in your dataset).
#      - Remove columns with excessive missing values (using `del df['style_2']`).
#      - Remove rows with any remaining missing values (using `df.dropna()`).
#    - We provided a "before and after" report, showing how the dataset changes after cleaning and the reasoning behind each step.

# 8. **Summary of the Entire Process**:
#    - The approach involved inspecting missing values, deciding which columns to remove, and then dropping rows with any missing values. This helps balance the loss of data while ensuring high-quality, complete data for analysis.

# The conversation provided you with a structured workflow for cleaning and summarizing your dataset, addressing both missing data and key statistical concepts.

In [443]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

In [444]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [445]:
y = df.groupby("survived")["sex"].describe()
y

         count unique     top freq
survived
0          549      2    male  468
1          342      2  female  233

In [446]:
#8.2 the function groupby groups by the "survived" column and then describes them by thier sex, so it shows that the 549 people
# who died were a majority male and shows the frequency of how many were male, same for the the people who survived it shows the
# the top was female and the fequency of females in the data was 233 out of the 342 who survived.

In [447]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [448]:
# 8.2 It results in something different because dfdescribe will describe the entire data set with all its columns, on there hand,
# dfgroupby calcualtes the data and statictis by certains columns at a time and not all at the same time. The funciton is good if
# you want to focus on one group of data at a time.

In [449]:
# 8.3 Chatbots are 100% better at fixing the erros then using google for many reasons. Firstly, the chatbot has context to
# everything. If for example there was a error on line 200 of my code, the error could be because of a previous line like line 130
# , goggle might not be able to know this beacuse it doesnt know my previous code. Secondaly, chatgpt can google search for you if
# you ask it, it will read multiple websites in an instant and repeat to you the answer that was found online, so it can do a google
# search better then you. Lastly, chatbot is better to be organized as it shows your entire histroy of promps on one website, it
# gives you the the answer whichever way you want it, code, paragraph reasoning, etc. In an organized manner right after another,
# Goggle will have you clicking different websites, openinig links, scouring the whole website, skipping over ads, just to find
# for example the an explination or a reasoning paragraph and then youu have to find a whole nother website to try and get the
# code for it etc. Chatbots are the future.

In [450]:
# Summary for question 8 from chatbot,

# Exploring Titanic Dataset & Basic Troubleshooting with a ChatBot:

# You wanted guidance on using a ChatBot to troubleshoot issues while analyzing the Titanic dataset from Seaborn (https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv).
# You started by asking about basic summary analysis with code examples using df.groupby("col1")["col2"].describe(). I explained how this method groups data by col1 and provides statistical descriptions (like count, mean, std, etc.) for col2.
# df.describe() and Handling Missing Values:

# You asked about the differences between df.describe() and df.groupby("col1")["col2"].describe() in terms of handling missing values.
# I explained that df.describe() provides overall summary statistics for the DataFrame, while df.groupby() groups data by a specified column and calculates the statistics within those groups. Missing values affect these counts differently depending on how they are handled within the methods.
# Survival Status in Titanic Dataset (survived column):

# You asked for clarification on the meaning of the survived column in the Titanic dataset.
# I explained that 0 indicates the passenger did not survive (dead) and 1 indicates the passenger survived (alive).
# AttributeError: 'DataFrame' object has no attribute 'decribe':

# You encountered an AttributeError due to a typo in your code (df.decribe() instead of df.describe()).
# I explained that the error occurred because Python couldn't find the method decribe and provided the correct code df.describe() to resolve the issue.
# Common Coding Errors and Fixes:

# You summarized a few errors you'd encountered in your code, and I helped troubleshoot them:
# Forgetting Parentheses:
# Example: pd.read_csv(url (missing closing parenthesis).
# Fix: Ensure all parentheses are properly closed, like pd.read_csv(url).
# Mistyping Function Names in a Chain:
# Example: df.group_by("col1")["col2"].describle().
# Fix: Correct function names to df.groupby("col1")["col2"].describe().
# Using Incorrect Column Names:
# Example: Using Sex instead of sex (column names are case-sensitive).
# Fix: Ensure the correct spelling and case for column names, like df.groupby("sex")["age"].describe().
# Forgetting Quotes for Column Names:
# Example: df.groupby(sex)["age"].describe().
# Fix: Column names should be in quotes, as they are strings, like df.groupby("sex")["age"].describe().
# Error Handling Strategies:

# We discussed whether it's easier to troubleshoot these errors with a ChatBot or through a Google search. I provided explanations on how to interpret and fix various errors like SyntaxError, AttributeError, KeyError, and NameError.

In [451]:
# chatbot transcript for question 8 https://chatgpt.com/share/66e72b8e-6ef0-8000-9e13-c8f452500662